body {
  background-color: #000;
  color: #0f0;
  font-family: Courier;
}

.input, .input-prime {
  width: 100%;
  background-color: #000;
  border: 1px solid #0f0;
  color: #0f0;
  font-family: Courier;
}
